# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
frontend-v2/node_modules
frontend-v2/.pnp
frontend-v2/.pnp.js

# testing
frontend-v2/coverage

# production
frontend-v2/build

# misc
frontend-v2/.DS_Store
frontend-v2/.env.local
frontend-v2/.env.development.local
frontend-v2/.env.test.local
frontend-v2/.env.production.local

frontend-v2/npm-debug.log*
frontend-v2/yarn-debug.log*
frontend-v2/yarn-error.log*
